/*********************
  CARDS PREMIUM
**********************/


/* Rotating Cards */

.card-wrapper {
    margin-bottom: 50px;
    height: 600px;
    max-height: 500px;
    position: relative;
    perspective: 800px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        background-color: #fff;
    }
    /* Front side */
    .card-up {
        overflow: hidden;
        height: 50%;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
    }
    .card-up img {
        min-width: 400px;
    }
    .avatar {
        border-radius: 50%;
        display: block;
        height: 120px;
        margin: -65px auto 0;
        overflow: hidden;
        width: 120px;
    }
    .avatar img {
        border: 5px solid #fff;
        background: none repeat scroll 0 0 #FFFFFF;
        width: 100%;
    }
    /* Back side */
    .card-content {
        padding: 15px;
        line-height: 1.42857143;
        font-size: 14px;
    }
    /* Social icons */
    .sm-container {
        margin-top: 80px;
        padding-top: 20px;
        border-top: 1px solid #e0e0e0;
        .fa {
            font-size: 0.7em;
        }
    }
    .card-sm a {
        padding: 0;
        margin: 7px;
    }
    /* Card with rotate on click */
    .card1 {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
    }
    .card1 .sm-container {
        margin-top: 30px;
    }
    /* Rotate icons */
    .fa-repeat,
    .fa-undo {
        font-size: 20px;
        margin-top: 30px;
    }
    .fa-undo {
        margin-top: 30px;
    }
    /* Animation */
    .card1 {
        transform-style: preserve-3d;
    }
    .card1__front,
    .card1__back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 1.0s;
        transition: transform 1.0s;
    }
    .card1__back {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    /* Click effect */
    .card1.effect__click.flipped .card1__front {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .card1.effect__click.flipped .card1__back {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
}


/* Cards reveal */

.card {
    .card-reveal {
        padding: $card-padding;
        position: absolute;
        background-color: $card-bg-color;
        width: 100%;
        overflow-y: auto;
        top: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        .card-title {
            cursor: pointer;
            display: block;
        }
    }
}


/* Elegant cards */

.elegant-card {
    margin-bottom: 50px;
    position: relative;
    perspective: 800px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    .card-up {
        overflow: hidden;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
    }
    .btn-floating {
        margin: -2.1em 2em;
        float: right;
    }
    .card-content {
        padding: 2em;
        color: #666666;
        background-color: #fff;
        h5 {
            padding-bottom: 10px;
            border-bottom: 1px solid #eeeeee;
        }
        p {
            font-size: 15px;
            line-height: 1.571428;
            font-weight: 300;
        }
    }
    .card-footer {
        background-color: $stylish-color-dark;
        height: 50px;
        color: #fff;
        text-align: center;
        font-size: 15px;
        ul {
            padding-top: 15px;
            padding-bottom: 15px;
            .fa {
                margin-right: 5px;
            }
            a {
                color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .elegant-card {
        .card-up {
            max-height: 150px;
        }
        .card-content {
            padding: 1em;
        }
    }
}


/* Testimonial cards */

.testimonial-card {
    margin-bottom: 50px;
    position: relative;
    .card-up {
        overflow: hidden;
        height: 120px;
    }
    .avatar {
        border-radius: 50%;
        display: block;
        height: 120px;
        margin: -65px auto 0;
        overflow: hidden;
        width: 120px;
    }
    .avatar img {
        border: 5px solid #fff;
        background: none repeat scroll 0 0 #FFFFFF;
        width: 100%;
    }
    .card-content {
        padding: 1em;
        color: #666666;
        background-color: #fff;
        text-align: center;
        h5 {
            margin-top: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #eeeeee;
        }
        p {
            font-size: 15px;
            line-height: 1.571428;
            font-weight: 300;
        }
    }
    .card-footer {
        background-color: $stylish-color-dark;
        height: 50px;
        color: #fff;
        text-align: center;
        ul {
            padding-top: 15px;
            padding-bottom: 15px;
            .fa {
                margin-right: 5px;
            }
            a {
                color: #fff;
            }
        }
    }
}


/* Review card */

.review-card {
    position: relative;
    .card-footer {
        background-color: $rgba-black-strong;
        margin-top: -140px;
        position: absolute;
        width: 100%;
        color: #fff;
        height: 140px;
        padding: 14px;
        .btn-floating {
            margin: -2.9em 2em;
            float: right;
        }
        h5 {
            padding-left: 10px;
        }
        .item-details {
            padding-left: 10px;
            padding-top: 8px;
            a {
                color: #fff;
            }
        }
        .material-icons {
            color: #fff;
        }
        .rating {
            margin-top: -33px;
            &:hover {
                .material-icons {
                    color: gold;
                    transition: all 0.4s linear;
                }
            }
        }
    }
}


/* Horizontal listing */

.horizontal-listing {
    .row {
        border-top: 1px solid #e0e0e0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .row:first-of-type {
        border-top: none;
    }
    img {
        margin: 16px 10px 15px 5px;
    }
    .title {
        padding-bottom: 10px;
    }
    a {
        color: #666;
    }
}

